@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --main-color: #0f1014;
    --min-gradient:linear-gradient(180deg, #081734, #0d1628 73px, #0e1420 168px, #0f1014 256px, #0f1014);
    --secondary-color: #16181f
}

body {
    /* background-color: rgb(15,16,20); */
    background-image: var(--min-gradient);
    min-height: 100vh;
    color: white;
}

